a:hover {
    text-decoration: none;
}

.popover-content {
    display: none;
}

ul {
    padding: 0;
    list-style: none;
}

.top-nav ul {
    margin: 0;
    text-align: right;
}

.top-nav ul li {
    /*float: left;*/
    display: inline-block;
    padding: 20px;
}

.top-nav li:hover {
    background-color: #999c9e;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow:auto;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f3f3f4;
    overflow:auto;
}

#left-menu {
    padding: 0px;
    float: left;
    height: 100%;
    background-color: #263a4a;
}

#menu-head, #menu-item {
    padding: 30px;
}

a {
    color: #a7b1c2;
}
#left-menu a:hover {

}

#menu-item {
    font-size: 16px;
    width: 100%;
    background-color: #2f4050;
    height: 100%;
}

#menu-item li li:hover {
    background-color: #263a4a;
    color: white;
}
#menu-item li a:hover {
    color: white;
}

.children-menu-item {
    padding-left: 45px;
}

#right-content {
    float: left;
    height: 100%;
    padding: 0px;
}

.top-nav {
    background-color: white;
    /*border: 1px solid blue;*/
}

.container-fluid {
    height: 100%;
    padding: 0px;
}